
body{

	background-color: #000;
	color: #fff;
	font-family: Arial;
}

.cashier{
	float: left;
	display: inline;
	width: calc(100%/6);
}


.cf:after{
	clear: both;
	display: table;
	content:'';
}

.svg-container{
	background-color: #fff;
	height: 100px;
}